# Build directories
build/
cmake-build-*/
bin/
lib/
out/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Compiled binaries
*.o
*.obj
*.so
*.dylib
*.a
*.exe
*.dll
*.pdb
*.ilk

# CMake artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# Data / Dumps / OS files
*.bin
*.idx
*.log
.DS_Store
Thumbs.db
